.AppMainCont{
  /* display: flex;
 align-items: center;
 justify-content: center; */
  /* width: 100vw;
  height: 98vh; */
  /* background-color: rgb(223, 195, 239);
  border: 1px solid black; */
}

.AppMainCont .App {
 display: flex;
 align-items: center;
 justify-content: center;
  width: 100vw;
  height: 80vh;
  background-color: rgb(142, 192, 192);
  margin-bottom: 2%;
}
.AppMainCont .downloadBtn{
  padding: 5px 15px;
  border-radius: 5px;
  font: 14px;
  color: white;
  background-color: green;
  width: 10%;
  text-align: center;
  margin: 10px auto;
cursor: pointer;
}


